a{
    text-decoration: none;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #080d15;
    opacity: .5;
}
.btn-custom{
    background-color: white;
    color: #3F87F5;
    
}